* {
	border: none;
	border-radius: 0;
    font-family: "SF Pro Display" ;
	font-size: 16px;
	min-height: 24px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 15px;
	transition: none;
    color: transparent;
	background: transparent;
}
#tags {
	margin-top: 8px;
	margin-left: 12px;
	margin-bottom: 0px;
	border-radius: 10px;
	/*background: #2E3440;*/
	background: #111318;
	transition: none;
}

#tags button {
	transition: none;
	color: #D8DEE9;
	background: transparent;
	font-size: 16px;
	border-radius: 0px;
}

#tags button.occupied {
	transition: none;
	color: #f7768e;
    /* border-top: 2px solid #f7768e; */ 
    /* border-bottom: 2px solid #f7768e; */ 
	background: transparent;
	font-size: 16px;
}

#tags button.focused {
	color: #2ac3de;
    border-top: 2px solid #2ac3de;
    border-bottom: 2px solid #2ac3de;
}

#tags button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #EBCB8B;
    border-color: #bb9af7;
    border-top: 2px solid #bb9af7;
    border-bottom: 2px solid #bb9af7;
    color: #bb9af7;
}

#tags button.focused:hover {
    color: #bb9af7;
}

#network {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 15px;
	transition: none;
	color: #4d4d4d;
	background: #bd93f9;
}

#pulseaudio {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 15px;
	transition: none;
	color: #111318;
	background: #60AFEE;
}

#battery {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 15px;
	transition: none;
	color: #111318;
	background: #EBCB8B;
}

#battery.charging, #battery.plugged {
	color: #111318;
    background-color: #A3BE8C;
}

#battery.critical:not(.charging) {
    background-color: #D8DEE9;
    color: #111318;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #D8DEE9;
    }
}

#backlight {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 15px;
	transition: none;
	color: #111318;
	background: #A3BE8C;
}
#custom-clock {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	margin-right: 12px;
	padding-right: 10px;
	border-radius: 15px;
	transition: none;
	color: #D8DEE9;
	/*background: #4C566A;*/
	background: #111318;
}

#tray {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 15px;
	transition: none;
	color: #D8DEE9;
	/*background: #4C566A;*/
	background: #111318;
}

#custom-updates {
	margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 15px;
	transition: none;
	color: #111318;
	background: #60AFEE;
}

#cpu {
    margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 15px;
	transition: none;
    background-color: #BF616A;
    color: #111318;
}

#memory {
    margin-top: 8px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 15px;
	transition: none;
    background-color: #D08770;
    color: #111318;
}
